/*

Inpsired fropm https://loading.io/css/

<div class="qute-spinner-ring">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

*/

.qute-spinner-ring {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
.qute-spinner-ring div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: #333 transparent transparent transparent;
  animation: qute-spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-animation: qute-spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.qute-spinner-ring.qute-spinner-colors div {
  animation: qute-spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite, qute-spinner-colors 5.6s ease-in-out infinite;
  -webkit-animation: qute-spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite, qute-spinner-colors 5.6s ease-in-out infinite;
}
.qute-spinner-ring div:nth-child(1) {
  animation-delay: -0.45s;
  -webkit-animation-delay: -0.45s;
}
.qute-spinner-ring div:nth-child(2) {
  animation-delay: -0.3s;
  -webkit-animation-delay: -0.3s;
}
.qute-spinner-ring div:nth-child(3) {
  animation-delay: -0.15s;
  -webkit-animation-delay: -0.15s;
}
@keyframes qute-spinner-ring {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes qute-spinner-ring {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes qute-spinner-colors {
  0% {
    border-top-color: #4285F4;
  }
  25% {
    border-top-color: #DE3E35;
  }
  50% {
    border-top-color: #F7C223;
  }
  75% {
    border-top-color: #1B9A59;
  }
  100% {
    border-top-color: #4285F4;
  }
}
@keyframes qute-spinner-colors {
  0% {
    border-top-color: #4285F4;
  }
  25% {
    border-top-color: #DE3E35;
  }
  50% {
    border-top-color: #F7C223;
  }
  75% {
    border-top-color: #1B9A59;
  }
  100% {
    border-top-color: #4285F4;
  }
}
